<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ký túc xá Đại học Kinh tế Đà Nẵng</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <hr class="hr-header my-3" />
    <div class="row m-3">
        <div class="col-8">
            <div>
                <img class="d-block w-50" src="/Images/logo.png" alt="First slide" />
            </div>
        </div>
        <div class="col-4">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#intro">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact">Đăng ký</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <div class="body-content m-3">
        @RenderBody()
        <hr />
    </div>
    <footer class="bg-blue">
        <div class="row px-3 pt-3">
            <div class="col-8 pl-80px">
                <p class="title-column-footer">Trung tâm Hỗ trợ sinh viên và Quan hệ doanh nghiệp</p>
                <p>Trường Đại học Kinh tế - Đại học Đà Nẵng</p>
                <p>71 Ngũ Hành Sơn, Tp Đà Nẵng</p>
                <p>kytucxa@due.edu.vn</p>
                <p>ĐT:02363953773</p>
            </div>
            <div class="col-4 px-3">
                <p class="title-column-footer">Thời gian tiếp nhận sinh viên đăng ký</p>
                <p>Thứ Hai - thứ Sáu:</p>
                <p>07h30 - 11h30 ; 13h30 - 17h30</p>
            </div>
        </div>
        <div class="text-center">
            <p>"SSERC - Đồng hành cùng Sinh viên và Doanh nghiệp"</p>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
